<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../node_modules/animejs/lib/anime.js"></script>
    
    <title>Home // JWorks</title>
  </head>
  <body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
          <div id="mySidebar" class="sidebar">
              <a class="togChoice">JBobowski</a>
              <a id="show1" href="file:///C:/Users/Joe/Desktop/Coding/portfolio2/views/index.html" class="togChoice">Home</a>
              <a id="show2" href="file:///C:/Users/Joe/Desktop/Coding/portfolio2/views/experience.html" class="togChoice">Experience</a>
              <a id="show3" href="file:///C:/Users/Joe/Desktop/Coding/portfolio2/views/projects.html" class="togChoice">Projects</a>
              <a id="show4" href="file:///C:/Users/Joe/Desktop/Coding/portfolio2/views/about.html" class="togChoice">About</a>
              <a id="show5" href="file:///C:/Users/Joe/Desktop/Coding/portfolio2/views/contact.html" class="togChoice">Contact</a>
          </div>
        
          <div id="main" class="parent" style="margin-left: 200px; display:flex;">

              <h1 class="nameIntro child" id="nameIntro">
                <span class="text-wrapper" id="text-wrapper">
                  <span class="line line1" id="line1"></span>
                  <span class="letters letters-left" id="letters-left">Joseph</span>
                  <span class="letters middle" id="middle">D.</span>
                  <span class="letters letters-right" id="letters-right">Bobowski</span>
                  <span class="line line2" id="line2"></span>
                </span>
              </h1>
        
          </div>
  </body>
</html>
<script src="../public/js/homeScripts.js"></script>