<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../public/css/general.css">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../node_modules/animejs/lib/anime.js"></script>

    <title>Projects // JDB</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
          <div id="mySidebar" class="sidebar">
              <a class="togChoice">JDBobowski</a>
              <a id="show1" href="file:///C:/Users/Joe/Documents/GitHub/portfolio-v1.0/views/index.html" class="togChoice">Home</a>
              <a id="show2" href="file:///C:/Users/Joe/Documents/GitHub/portfolio-v1.0/views/experience.html" class="togChoice">Experience</a>
              <a id="show3" href="file:///C:/Users/Joe/Documents/GitHub/portfolio-v1.0/views/projects.html" class="togChoice">Projects</a>
              <a id="show4" href="file:///C:/Users/Joe/Documents/GitHub/portfolio-v1.0/views/about.html" class="togChoice">About</a>
              <a id="show5" href="file:///C:/Users/Joe/Documents/GitHub/portfolio-v1.0/views/contact.html" class="togChoice">Contact</a>
          </div>

          <div id="main" style="margin-left: 200px;height:100vh;">
            <h2 class="moveLetters">
              <span class="text-wrapper">
                <span class="letters">Projects</span>
              </span>
            </h2>
            <hr>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs" id="projects-list" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" href="#dawn" role="tab" aria-controls="dawn" aria-selected="true">DAWN</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  href="#project2" role="tab" aria-controls="project2" aria-selected="false">Project 2</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#project3" role="tab" aria-controls="project3" aria-selected="false">Project 3</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      
                        <div class="tab-content mt-3">
                        <div class="tab-pane active" id="dawn" role="tabpanel">
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DAWN is an acronym which stands for the Depression Anxiety and Wellness Network. Originally this project was developed by a team of four students 
                            a few hours each day during our computer science and software engineering courses. The intent and original mission plan were simple in the beginning; 
                            develop a resource that students of Point Pleasant Borough High School would be able to use whenever they were depressed, anxious, or otherwise negatively 
                            effected.
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Since then, our team now consists of three members: two co-developers and one project manager. We have since redesigned DAWN a handful of times, improving 
                            functionality, database structuring, user experience, the addition and removal of features, etc., all while staying within HIPAA guidelines. Furthermore, 
                            we've expanded past Point Pleasant Borough High School and have offered our software to other schools in Ocean County, growing a community in the process. 
                            However, since all team members are currently undergraduate students in college, our main priority is providing the most effective experience for our users. 
                            While growing a larger platform may have been put on the backburner for now, there is no doubt that we will be trying to expand and offer this software to 
                            all people who could benefit from it.
                          </p>
                          <center><a href="https://www.mentalhealth-dawn.org/" class="btn btn-primary" role="button" aria-pressed="true" target="_blank">Open DAWN</a></center>

                          <div class="row mb-3">
                            <div class="col">
                              <div class="card mt-3">
                                  <div class="card-body">
          
                                    <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                          <img src="../public/images/sample2.jpg" style="max-width:100%;height:100%;" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                          <img src="../public/images/sample2.jpg" style="max-width:100%;height:100%;" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                          <img src="../public/images/sample2.jpg" style="object-fit:contain;" class="d-block w-100" alt="...">
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card mt-3">
                                  <div class="card-body">
          
                                    <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                          <img src="../public/images/sample2.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                          <img src="../public/images/sample2.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                          <img src="../public/images/sample2.jpg" class="d-block w-100" alt="...">
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                    </div>
          
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                            <div class="card mt-3">
                                <div class="card-body">
        
                                  <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active" data-bs-interval="5000">
                                        <img src="../public/images/sample2.jpg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item" data-bs-interval="5000">
                                        <img src="../public/images/sample2.jpg" class="d-block w-100" alt="...">
                                      </div>
                                      <div class="carousel-item" data-bs-interval="5000">
                                        <img src="../public/images/sample2.jpg" class="d-block w-100" alt="...">
                                      </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                  </div>
        
                                </div>
                            </div>
                        </div>





                          </div>

                        </div>
                          
                        <div class="tab-pane" id="project2" role="tabpanel" aria-labelledby="project2-tab">  
                          <p class="card-text">[this is placeholder text]</p>
                          <center><a href="#" class="btn btn-primary disabled" role="button" aria-pressed="true">Currently Under Reconstruction</a></center>
                        </div>
                          
                        <div class="tab-pane" id="project3" role="tabpanel" aria-labelledby="project3-tab">
                          <p class="card-text">[this is placeholder text]</p>
                          <center><a href="#" class="btn btn-primary disabled" role="button" aria-pressed="true">Currently Under Reconstruction</a></center>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
          </div>
          <script src="../public/js/header.js"></script>
    <script>
      $('#projects-list a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
      });



      

    </script>
  </body>
</html>
